### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [59]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [205]:
#Player Count
    #Total Number of Players

#Create inital DataFrame
df = pd.read_csv(file_to_load, encoding="ISO-8859-1")

#Show Total Players in DataFrame
tot_players = df["SN"].nunique()
player_df = pd.DataFrame({"Total Players": [tot_players]})
player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [195]:
#Purchasing Analysis (Total)
    #Number of Unique Items
    #Average Purchase Price
    #Total Number of Purchases
    #Total Revenue

In [200]:
#Number of Unique items
unq_items = df["Item Name"].nunique()
#Average Purchase Price
avg_price = df["Price"].mean()
#Total Number of Purchases
tot_purchases = df["Purchase ID"].count()
#Total Revenue
tot_revenue = df["Price"].sum()
#Summary DataFrame
summary_df = pd.DataFrame({"Number of Unique Items:": [unq_items],
                 "Average Purchase Price:": [avg_price],
                 "Total Number of Purchases:": [tot_purchases],
                 "Total Revenue:": [tot_revenue]})
#FORMAT
summary_df.style.format({"Average Purchase Price:":"${:,.2f}",
                         "Total Revenue:": '${:,.2f}'})

## Gender Demographics

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [204]:
#Groupby "Gender"
gender_counts = df.groupby("Gender")

#Total Gender Counts
tot_count_each_gender = gender_counts.nunique()["SN"]

#Total % by Gender
gender_perc = tot_count_each_gender / tot_players * 100

#Summary DataFrame
gender_df = pd.DataFrame({"Value of each Gender": tot_count_gender,
                          "Percentage of each Gender": gender_perc})

# FORMAT
gender_df.sort_values(["Value of each Gender"], ascending = False).style.format({"Percentage of each Gender":'{:.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [181]:
#The below each broken by gender
    #Purchase Count
    #Average Purchase Price
    #Total Purchase Value
    #Average Purchase Total per Person by Gender
    
#Pull Data from the "Gender_Counts" Groupby

#Determine Total Average Purchase (0.52)
tot_avg_purchase = avg_price/ tot_players * 100

# Purchase Count
gender_purchase_count = gender_counts["Purchase ID"].count()

# Average Purchase Price x gender
gender_avg_purchase_price = gender_counts["Price"].mean()

# Total Purchase Value x gender
gender_purchase_totals = gender_counts["Price"].sum()

# Average Purchase Total per Person by Gender 
gender_avg_purchase_by_user = gender_purchase_totals/tot_count_each_gender

#Summary Dataframe
demographics_df = pd.DataFrame({"Purchase Count:": gender_purchase_count,
                               "Average Purchase Price:": gender_avg_purchase_price,
                               "Total Purchase Value:": gender_purchase_totals,
                               "Average Purchase Total per Person by Gender:": gender_avg_purchase_by_user})
#FORMAT
demographics_df.style.format({"Average Purchase Price:":"${:,.2f}",
                              "Total Purchase Value:":"${:,.2f}",
                              "Average Purchase Total per Person by Gender:":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [168]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
    #Purchase Count
    #Average Purchase Price
    #Total Purchase Value
    #Average Purchase Total per Person by Age Group

In [180]:
# Establish bins for ages
age_bins = [0, 9.01, 14.01, 19.01, 24.01, 29.01, 34.01, 39.01, 1000]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Sort csv into the bins above & create new data frame with new age groups
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_groups)
age_df = purchase_data.groupby("Age Group")
#Purchase Count
age_purchase_count = age_df["Purchase ID"].count()
#Avgerage Purchase Price
age_avg_purchase_price = age_df["Price"].mean()
#Total Purchase Value
tot_purchase_value = age_df["Price"].sum()
#Average Purchase Total per Person by Age group
age_count = age_df["SN"].nunique()
avg_tot_per_person_by_age = tot_purchase_value / age_count

#Create DataFrame
age_df = pd.DataFrame({"Purchase Count:": age_purchase_count,
                                 "Average Purchase Price:": age_avg_purchase_price,
                                 "Total Purchase Value:": tot_purchase_value,
                                 "Average Purchase Total per Person by Age Group:": avg_tot_per_person_by_age})

#FORMAT 
age_df.style.format({"Average Purchase Price:":"${:,.2f}",
                               "Total Purchase Value:":"${:,.2f}",
                               "Average Purchase Total per Person by Age Group:":"${:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
    #SN
    #Purchase Count
    #Average Purchase Price
    #Total Purchase Value

In [187]:
#Groupby Screen Names (SN)
big_spender = purchase_data.groupby("SN")

#Purchase Count (how many purchases the user made)
big_spender_purchase_counts = big_spender["Purchase ID"].count()

#Average Purchase Price
big_spender_avg_purchase_price = big_spender["Price"].mean()

#Total Purchase Value
big_spender_tot_purchase = big_spender["Price"].sum()

# Create Data Frame
top_spenders = pd.DataFrame({"Purchase Count:": big_spender_purchase_counts,
                             "Average Purchase Price:": big_spender_avg_purchase_price,
                             "Total Purchase Value:":big_spender_tot_purchase})
#Filter to only show TOP FIVE SPENDERS
topfive_spenders = top_spenders.sort_values(["Total Purchase Value:"], ascending=False).head()
#FORMAT
topfive_spenders.style.format({"Average Purchase Total:":"${:,.2f}",
                                 "Average Purchase Price:":"${:,.2f}", 
                                 "Total Purchase Value:":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Identify the 5 most popular items by purchase count, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
    #Item Price
    #Total Purchase Value

In [191]:
#New DataFrame only from needed columns
items_df = purchase_data[["Item ID","Item Name","Price"]]

#Groupby Item ID & Item Name
pop_items = items_df.groupby(["Item ID", "Item Name"])

#Purchase Count (how many times each item has been purchased)
pop_items_purchase_counts = pop_items["Price"].count()

#Total Purchase Value
pop_items_purchase_value = pop_items["Price"].sum()

#Item Price
pop_items_price = pop_items_purchase_value / pop_items["Price"].count()


# Create Data Frame
top_items = pd.DataFrame({"Purchase Count:": pop_items_purchase_counts,
                             "Item Price:": pop_items_price,
                             "Total Purchase Value:": pop_items_purchase_value})
#Filter to only show TOP FIVE ITEMS
topfive_items = top_items.sort_values(["Purchase Count:"], ascending=False).head()
#FORMAT
topfive_items.style.format({"Item Price:":"${:,.2f}", 
                               "Total Purchase Value:":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [192]:
#Identify the 5 most profitable items by total purchase value, then list (in a table):
    #Item ID
    #Item Name
    #Purchase Count
    #Item Price
    #Total Purchase Value

#Filter to only show TOP FIVE ITEMS in ("TOTAL PURCHASE VALUE")
topfive_items = top_items.sort_values(["Total Purchase Value:"], ascending=False).head()
#FORMAT
topfive_items.style.format({"Item Price:":"${:,.2f}", 
                               "Total Purchase Value:":"${:,.2f}"})